@media (max-width:489px) {
    
    /* navbar */
    .nav-logo {
        height: 10vw;
        width: 22vw;
    }

    .nav-address p{
        font-size: 2.5vw;
        margin-left: 2vw;
    }

    .add-icon p{
        font-size: 2.3vw;
        margin-left: 0.5vw;
    }

    .add-icon{
        font-size: 2vw;
    }

    .nav-search {
        height: 25px;
    }

    .search-input{
        font-size: 2.2vw;
    }

    .search-select{
        width: 8vw;
        font-size: 1.9vw;
    }

    .search-icon {
        width: 6vw;
    } 

    .nav-second {
        font-size: 2.6vw;
        margin-bottom: 5vw;
    }

    span{
        font-size: 2.5vw;
        padding-top: 2vw;
    }

    .nav-cart i{
        font-size: 4vw;
    }

    .nav-cart{
        font-size: 2vw;
        letter-spacing: 0.2vw;
        padding: 2vw;
    }

    /* panel */
    .panel-all {
        font-size: 2.5vw;
    }

    .panel-ops {
        font-size: 2.2vw;
        gap: 15px;
    }

    .panel-deals {
        font-size: 1.8vw;
        margin-right: 0.5rem;
    }

    /* Hero section */
    .hero-section{
        height: 70vw;
        background-position: center;
        background-repeat: no-repeat;
    }

    .hero-msg{
        font-size: 0.6rem;
        background-color: #f5f6f6;
        line-height: 0.6rem;
        height: 30px;
        border-radius: 0.2rem;
        margin-bottom: 7%;
    }

    /* Shop Section */

    .shop-container{
        background-color: #eee;
        place-content: center;
        gap: 2rem;
    }

    .box {
        height: 100%;
        width: 90%;
    }

    .card-content h3{
        font-size: medium;
    }
    
    .card-content p{
        font-size: 3vw;
        margin-left: 5vw;
    }

    .card-content img{
        width: 20vw;
        height: 20vw;
        margin-left: 2rem;
    }

    .card-nested-style2 img{
        margin-left: 0.9rem;
        width: 90%;
        height: 98%;
    }
    
    .card-nested-style3 img{
        margin-left: 1rem;
        width: 52vw;
        height: 30vw;
    }
    
    .card-nested-img-st3 img{
        margin-top: 1rem;
        margin-left: 1rem;
        width: 15vw;
        height: 15vw;
    }
    
    .card-content a{
        font-size: 3vw;
        text-decoration: none;
        display: flex;
        color:#007185;
        margin-left: 1rem;
        display: flex;
        align-items: end;
        margin-top: 16%;
    }

    .box6-txt div {
        height: 5vw;
        width: 22vw;
        margin-left: 4.5vw;
        font-size: 0.6rem;
    }
    
    .box6-txt{
        display: flex;
    }
    
    .box6-txt p{
        margin-left: 5px;
        margin-top: 1vw;
        color: #CB0C39;
        font-weight: 700;
    }

    /* Footer */

    .foot-panel1{
        font-size: 0.7rem;
        height: 40px;
    }

    .foot-panel2{
        font-size: 3vw;
        height: 300px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    ul a{
        font-size: 0.6rem;
    }

    .foot-panel3{
        height: 50px;
    }
    
    .Logo{
        height: 30px;
        width: 80px;
    }
}

@media (1404px <= width <= 2753px)  {
    /* navbar */
    .navbar {
        height: 11vh;
    }

    .nav-logo {
        height: 3.5vw;
        width: 7.5vw;
    }

    .nav-address p{
        font-size: 1vw;
        margin-left: 1.3vw;
    }

    .add-icon p{
        font-size: 1vw;
        margin-left: 0.6vw;
    }

    .add-icon{
        font-size: 1vw;
    }

    .nav-search {
        height: 6vh;
    }

    .search-input{
        font-size: 1vw;
    }

    .search-select{
        width: 3vw;
        font-size: 0.8vw;
    }

    .search-icon {
        width: 3vw;
    } 

    .nav-second {
        font-size: 1vw;
        margin-bottom: 2vw;
    }

    span{
        font-size: 1vw;
        padding-top: 2vw;
    }

    .nav-cart i{
        font-size: 2vw;
    }

    .nav-cart{
        font-size: 1vw;
        letter-spacing: 0.2vw;
        padding: 1vw;
    }

    /* panel */
    .panel{
        height: 5vh;
    }
    .panel-all {
        font-size: 1vw;
    }

    .panel-ops {
        font-size: 1vw;
        gap: 15px;
    }

    .panel-deals {
        font-size: 1vw;
        margin-right: 0.5rem;
    }

    /* Hero section */
    .hero-section{
        background-position: center;
        background-repeat: no-repeat;
    }

    .hero-msg{
        font-size: 1vw;
        background-color: #f5f6f6;
        height: 30px;
    } 
}